@import '../../../styles/CommonStyles.css';

.topMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: rgba(224, 233, 245, 1);
    color: #333F5B;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 20px;


}

.logo {
    max-height: 50px;
    margin-right: 20px;
}

.link {
    text-decoration: none;
    color: #333F5B;
    padding: 5px 15px;
    display: block;
    font-weight: normal;
    transition: background-color 0.3s;

}

.activeLink {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    background-color: #89a9d3;
    border-radius: 6px;
    padding: 15px 15px;
}
